%section.home-hero.invert-section
	.container
		.row
			.col-sm-6	
				.triple-padding-top
				.triple-padding-top
					%h1
						Discover Nassau’s Best Family Restaurants
					%p.lead.margin-bottom
						Download TripDay on Itunes
					%a.app-download-button{:href=>"#"}
			.col-sm-6
				=image_tag'images/phones_main.png',:class=>"img-responsive main-phones"
%section.no-padding-top
	.container
		.row
			.col-sm-6	
				.logos
					=image_tag'images/logos.png',:class=>"img-responsive"
			.col-sm-6	
%section
	%hr
			