%section.home-hero.invert-section.bg-cover
	.container
		.row
			.col-sm-6	
				.hero-info-container
					%h1.margin-bottom
						Discover Nassau’s Best Family Restaurants
					%p.lead.triple-margin-bottom.hand-font-name
						Download TripDay 
						%br
						on Itunes
					%a.app-download-button{:href=>"#"}
			.col-sm-6
				=image_tag'/images/phones_main.png',:class=>"img-responsive main-phones"
%section.no-padding-top.double-padding-bottom.logos-section
	.container
		.row
			.col-sm-6	
				%p.no-margin-bottom.margin-top.text-muted
					%small
						%strong
							Trusted by:
				.logos
					=image_tag'/images/logos.png',:class=>"img-responsive"
			.col-sm-6	
		.row
			.col-lg-12
				.padding-top
				%hr
%section.no-padding-top.about-section
	.container
		.row
			.col-sm-7
				.margin-top
					%h2.text-center-xs
						What is Tripday?
					%p.display.margin-top.double-margin-bottom
						Trip Day is an iPhone app that connects you to special offers for great Restaurants, Hotels, and Activites in the Bahamas.  
					%a.btn.btn-primary.btn-lg.get-it-now-button.double-margin-bottom{:href=>"#"}
						Get it now
			.col-sm-5
				.well
					%h2
						Why Tripday?
					%p
						%strong
							Visual Planning.  
						Plan your vacation by rating local photos... a picture is worth a 1000 words 
					%p
						%strong
							Exclusive Offers. 
						Caribbean business post unique offers only available on Trip Day 
					%p
						%strong
							Personalized For You. 
						You get  special offers based on your individual needs and wants. 
%section.flow-feature-section.no-padding-bottom.text-center.bg-cover
	.container
		.row.double-margin-bottom
			.col-sm-1
			.col-sm-10
				.invert-text
					%h2
						Fun Travel Planning
					%p.extra-line-height
						Do you enjoy looking at great photos of beautiful places when planning a vacation?  If yes Trip Day was created for you. With this app you get access to 1000’s of  carribean photos that make it simple and fun to discover local experiences that you’ll love. 
			.col-sm-1
		.row
			.flow-feature-container
				.col-sm-4
					.text-center
						=image_tag('phone_1.png')
						%p
							Rate pictures of local food and restaurants.
				.col-sm-4
					.text-center
						=image_tag('phone_2.png')
						%p.text-center
							After every few photos you’ll get special offers from restaurants you’ll love.
				.col-sm-4
					.text-center
						=image_tag('phone_3.png')
						%p.text-center
							Save your favorite offers for use while offline. 
%section.testimonials-section
	.container
		.row.hidden-xs
			.col-lg-12
				%hr
		.row.double-margin-bottom
			.testimonials
				-2.times do
					.col-sm-6
						.media.testimonial
							.pull-left.margin-right
								=image_tag 'avatar1.png', :class=>"img-responsive img-circle"
							.media-body.half-margin-top
								.media-heading
									%p
										%em
											“Trip Day helped my wife I discover Cafe Matisse a hidden gem in Nassau. It was a cute restaurant with good service and great food.” 
										%br
									%a{:href=>"#"}
										%strong
											\- Will Brandt 
		.row
			.col-lg-12
				%hr
%section.download-section.no-padding-top.padding-bottom
	.container
		.row
			.col-sm-1
			.col-sm-10.text-center
				%h2
					%strong
						Each Month Trip Day helps 10,000 people discover restaurants in the Bahamas.
				%p.double-margin-bottom
					%strong
						Download TripDay on itunes 
				%a.app-download-button.double-margin-bottom.margin-auto{:href=>"#"}
			.col-sm-1



			