%section.home-hero.invert-section.bg-cover
	.container
		.row
			.col-sm-6	
				.hero-info-container
					%h1.margin-bottom
						Discover Nassau’s Best Family Restaurants 
					%p.lead.triple-margin-bottom.hand-font-name
						Download TripDay 
						%br
						on iTunes… It’s Free  
					%a.app-download-button{:href=>"#"}
			.col-sm-6
				=image_tag'/images/phones_main.png',:class=>"img-responsive main-phones"
%section.no-padding-top.double-padding-bottom.logos-section
	.container
		.row
			.col-sm-6	
				%p.no-margin-bottom.margin-top.text-muted
					%small
						%strong
							Trusted by:
				.logos
					=image_tag'/images/logos.png',:class=>"img-responsive"
			.col-sm-6	
		.row
			.col-lg-12
				.padding-top
				%hr
%section.no-padding-top.about-section
	.container
		.row
			.col-sm-7
				.margin-top
					%h2.text-center-xs
						What is TripDay?
					%p.display.margin-top.double-margin-bottom
						TripDay is a free iPhone app that connects you to special offers at great Restaurants, Hotels, and Activities in the Bahamas.  
					%a.btn.btn-primary.btn-lg.get-it-now-button.double-margin-bottom{:href=>"#"}
						Get TripDay
			.col-sm-5
				.well
					%h2
						Why TripDay? 
					%p
						%strong
							Visual Planning:  
						Using BEAUTIFUL photos is a simplest way to discover unique vacation experiences.  
					%p
						%strong
							Exclusive Offers: 
						Bahamian businesses have created UNIQUE offers and experiences only available on TripDay. 
					%p
						%strong
							Personalized Experience: 
						TripDay is about you; our mission is to connect you to special offer and experiences that you’ll LOVE.   
%section.flow-feature-section.no-padding-bottom.text-center.bg-cover
	.container
		.row.double-margin-bottom
			.col-sm-1
			.col-sm-10
				.invert-text
					%h2
						Fun – Simple – Beautiful 
					%p.extra-line-height
						Do you enjoy looking at great photos of beautiful places? With TripDay you get access to 1000’s of beautiful photos of the Bahamas that make it simple and fun to discover local experiences, hotels and restaurants that you’ll love. 
			.col-sm-1
		.row
			.flow-feature-container
				.col-sm-4
					.text-center
						=image_tag('phone_1.png')
						%p
							Rate pictures of local food and restaurants.
				.col-sm-4
					.text-center
						=image_tag('phone_2.png')
						%p.text-center
							After every few photos you’ll get a special offer from a restaurant you’ll love.  
				.col-sm-4
					.text-center
						=image_tag('phone_3.png')
						%p.text-center
							Save your favorite offers for use while offline. 
%section.testimonials-section
	.container
		.row.hidden-xs
			.col-lg-12
				%hr
		.row.double-margin-bottom
			.testimonials
				.col-sm-6
					.media.testimonial
						.pull-left.margin-right
							=image_tag 'avatar1.jpg', :class=>"img-responsive img-circle"
						.media-body.half-margin-top
							.media-heading
								%p
									%em
										"TripDay helped my wife and I discover Cafe Matisse.What a hidden gem in Nassau. It’s a cute restaurant with good service and fantastic food." 
									%br
								%p.primary-text-color
									%small
										%strong
											\-William Cohen 
											%br 
											%small
												%span.light-font-name
													&nbsp;Romantic Getaway  
				.col-sm-6
					.media.testimonial
						.pull-left.margin-right
							=image_tag 'avatar2.jpg', :class=>"img-responsive img-circle"
						.media-body.half-margin-top
							.media-heading
								%p
									%em
										"While staying at Atlantis TripDay helped my family discover Luciano's of Chicago a fun Italian restaurant with fresh seafood and a great kids menu." 
									%br
								%p.primary-text-color
									%small
										%strong
											\-Samantha Mullen
											%br 
											%small
												%span.light-font-name
													&nbsp; Family Vacation  
		.row
			.col-lg-12
				%hr
%section.download-section.no-padding-top.padding-bottom
	.container
		.row
			.col-sm-1
			.col-sm-10.text-center
				%h2
					%strong
						Each Month TripDay helps 10,000 people discover the Bahamas best restaurants 
				%p.double-margin-bottom
					%strong
						Download TripDay on iTunes
				%a.app-download-button.double-margin-bottom.margin-auto{:href=>"#"}
			.col-sm-1



			